**/node_modules

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
/.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

/.parcel-cache

# macos folder metadata
**/.DS_Store
