/packages/*/public

# Build artifacts
/package/out
/package/release
/samples/*/build
/samples/*/dist
/samples/amd-webpack-react/public/vs

/kustoweb/public
/kustoweb/build
/kustoweb/dist


# Yarn saves copies of releases in this folder
/.yarn/releases


