#container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    align-items: stretch;
}

#editor {
    width: 1600px;
    height: 600px;
    border: 1px solid grey;
    border-radius: 4px;
}

#settings {
    width: 100%;
    border: 1px solid grey;
    border-radius: 4px;
}
