name: NPMPublish

on:
  push:
    branches: [master]

jobs:
  compile-and-publish:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: yarn

      - name: yarn install
        run: |
          yarn install --immutable

      - name: build
        working-directory: package
        run: yarn build

      - name: NPM publish
        uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPMPUBLISHTOKEN }}
          package: ./package/package.json
